:root{
    --back-: #0a0a0a; 
    --font-: black; 
    --mainTitleColor-: white; 
    --font-family-main: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;  
}

*{
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
}

html{
    font-size: 62.5%;
    width: 100%; 
    height: 100%; 
}

body{
    width: 100%;
    height: 100%;
    display: flex; 
    flex-direction: column; 
}

/* Para inactivar algunos contenedores */
.inactive{
    display: none; 
}

.mainContent{
    width: 100%; 
    height: 100%;
   
    background: var(--back-);
    color: var(--font-);
}

/* Header  Versión Mobile*/
#header{
    width: 100%; 
    height: 12%;
    background: var(--back-); 
    display: flex; 
}
#header-mobile{ 
    width: 100%; 
    height: 100%;
    display: flex;
    flex-direction: row; 
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.headerMobile-logo{
    width: 17%; 
    height: 100%;
    
    display: flex;
    justify-content: center; 
    align-items: center;

    padding-left: 5%; 
}
#Mobile-logo{
    width: 100%;
    max-width: 45px; 
    min-width: 40px; 
    height: 100%;
}
.headerMobile-title{
    display: flex; 
    justify-content: flex-start;
    align-items: center;

    width: 65%; 
    min-width: 150px;
    height: 100%;

    padding-left: 5%; 
}
.headerMobile-title #title{
    width: 100%;
    color: var(--mainTitleColor-);
    font-family: var(--font-family-main); 
    font-size: 1.5rem;
    font-weight: 600;
}
.headerMobile-menu{
    min-width: 18%;
    height: 100%;
    display: flex; 
    justify-content: flex-end;
    align-items: center;
}
.headerMobile-menu #menuIcon{
    display:flex; 
    padding-right: 10%;
    width: 40%;
    max-width: 40px; 
    min-width: 35px;
    height: 30%;
}
.headerMobile-menu #nav{
    display:none; 
}

/* Main */
#Main{
    width: 100%; 
    height: 88%;
    display: flex;
    flex-direction: column;  
}
#Introduction{
    width: 100%; 
    height: 20%;
    display: block;
    padding: 5% 0;
}
.introductionContent{
    width: 100%; 
    height: 100%;
}
.Introduction-title{
    width: 100%; 
    height: 100%;

    font-family: var(--font-family-main);

    display:flex; 
    flex-direction: column;
    align-items: center;
}
/* Cambiar tipo de fuente, tamaños y colores */
#Creative{
    font-size: 3.5rem;
    font-family:Arial, Helvetica, sans-serif; 
    color: white;
}
#Developer{
    font-size: 1.8rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white; 
}
#FrontEnd{
    padding-top: 3%; 
    font-size: 1.5rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    color: gray; 
}
/* Redes sociales - perfiles */
#Nets{
    width: 100%; 
    height: 80%;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.nets-aside{
    background: var(--back-); 

    width: 15%; 
    height: auto;
    padding-left: 5%;

    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;

    padding-bottom: 20%; 
}
#netsAside div{
    
    width: 100%;
    height: 100%;
    
    border-radius: 99%; 
    border: 1px solid white;  
    background: white;

    display:flex;
    justify-content: center;
    align-items: center;

}
#netsAside img{
    width:100%;
    height: auto;
    border-radius: 999px; 
}

/* Corregir según position absolute */
.image{
    width: 85%; 
    height: 50vh;
    display: flex; 
}
.image-absolute{
    width: 80%; 
    height: 50%;
    position: absolute; 
    display: flex; 
    justify-content: center;
    align-items: center;
}

.image-relative{
    width: 100%; 
    height: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
    position:relative; 
}
/* -------------------------------- */


