:root{
    --back-: #0a0a0a; 
    --font-: black; 
    --mainTitleColor-: white; 
    --font-family-main: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;  
}

*{
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
}

html{
    font-size: 62.5%; 
}

body{
    width: 100vw;
    height: 100vh; /*Por ahora*/
}

/* Para inactivar algunos contenedores */
.inactive{
    display: none; 
}

.mainContent{
    width: 100%; 
    height: 100%;
    /*Corregir los colores para que tomen el 100% de la web*/
    background: linear-gradient(); 
    background: var(--back-);
    color: var(--font-);
}

/* Header  Versión Mobile*/
#header{
    width: 100%; 
    height: 12%;
    background: var(--back-); 
    display: flex; 
}
#header-mobile{
    padding-left: 7%; 
    width: 100%; 
    height: 100%;
    display: flex;
    flex-direction: row; 
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.headerMobile-logo{
    width: 15%; 
    max-width: 50px; 

    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.headerMobile-logo #Mobile-logo{
    width: 100%;
    height: 100%;
}
.headerMobile-title{
    padding-left: 7%; 
    display: flex; 
    justify-content: flex-start;
    align-items: center;
    min-width: 70%;
    height: 100%;
}
.headerMobile-title #title{
    color: var(--mainTitleColor-);
    font-family: var(--font-family-main); 
    font-size: 1.5rem;
    font-weight: 600;
}
.headerMobile-menu{
    min-width: 15%;
    height: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.headerMobile-menu #menuIcon{
    max-width: 60%; 
    height: 20%;
}
.headerMobile-menu #nav{
    display:none; 
}
/* -------------------------------- */


